<div class="chart_container"><canvas id="myChart" height="330" width="650"></canvas></div>

<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels:  <%= raw @graph_date %> ,
        datasets: [{
            label: "weight",
            pointHitRadius:10,
            pointBorderColor: "white",
            data: <%= raw @graph_weights %>,
            lineTension: 0,
            backgroundColor: 'rgba(0, 123, 255, 1.0)',
            borderColor: 'rgba(0, 123, 255, 1.0)',
            fill: false,
            pointRadius:3.5,
            pointHoverRadius: 5
        }]
    },
    options: {
      <% if @graph_weights.length < 1 %>
      scales: {
            xAxes: [{
          ticks: {
          }
        }],
            yAxes: [
        {
          ticks: {
            min:  0
          }
        }
      ]
    },
    <% end %>
      responsive: true,
      maintainAspectRatio: false,
      legend: {
                display: false,
            }
       }
});
</script>
