<div class="col-sm-6 offset-sm-3" >
  <%= form_for(@record, url: "/users/#{@user.id}#{"?duration=#{params[:duration]}" if params[:duration] != nil }#{"&page=#{params[:page]}" if params[:duration] != nil && params[:page] != nil }#{"?page=#{params[:page]}" if params[:duration] == nil && params[:page] != nil }") do |f| %>



    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group record-form">
      <%= f.number_field :weight, placeholder: "Input weight...", class: "form-control", step: 0.01  %>
    </div>

    <%= f.submit "Save" %>
  <% end %>
</div>
