<% provide(:title, "Edit user") %>
<% provide(:url, edit_user_path(@user)) %>
<% provide(:button_text, "Save changes") %>


<h1 class="page-title">Update your profile</h1>

<div class="row">
    <%= render "form" %>
</div>
