<% provide(:title, "Sign up") %>
<% provide(:url, signup_path) %>
<% provide(:button_text, "Create account") %>

<h1 class="page-title">Sign up</h1>
<div class="container">
  <div class="signup-form">
    <%= render "form" %>
  </div>
</div>
