/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */
 @import 'bootstrap';



 $main-blue:#428bca;
 $light-gray:#777777;



 li{
   list-style: none;
 }

input{
  width:100%;
}

.dropdown-item{
   color:$main-blue;
 }

.page-title{
  margin-top:40px;
  text-align: center;
}

.navbar{
  margin-bottom: 1rem;
}

#session_remember_me{
  width: auto;
}


#error_explanation li{
  list-style-type:disc;
}

.btn{
  margin-top: 10px;
}

 .footer{
   margin-top: 100px;
   border-top: 1px solid $main-blue;
   small{
     float:left;
     color:$main-blue;
   }
   ul{
     float:right;
   }
   li{
     float:left;
     margin-left: 15px;
   }
   a{
     color:$main-blue;
   }
 }
