<footer class="footer fixed-bottom">
  <div class="container">

  <small>
    Created by Yu Utsugi
  </small>
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  </div>
</footer>



<!--<% if logged_in? %>
  <p><%= current_user.id%></p>
  <p><%= current_user.name%></p>
<% end %>-->
