<footer class="footer fixed-bottom">
  <div class="container">

  <small>
    Created by Yu Utsugi
  </small>

  </div>
</footer>



<!--<% if logged_in? %>
  <p><%= current_user.id%></p>
  <p><%= current_user.name%></p>
<% end %>-->
