<nav class="navbar  sticky-top navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a href="/" class="navbar-brand">
      Body-Weight App
    </a>
    <div id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li  class="dropdown nav-item">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu<span  class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
               <a  href="/" class="dropdown-item">Home</a>
               <a  href="/users/<%= current_user.id.to_s %>/edit" class="dropdown-item">Settings</a>
               <div class="dropdown-divider"></div>
               <a  class="dropdown-item" rel="nofollow" data-method="delete" href="/logout" >Log Out</a>
            </div>
          </li>
        <% else %>
          <li><a  href="/login" class="nav-link"> Log in</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
