
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a href="/" class="navbar-brand">
      Body-Weight App
    </a>
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li><a  href="/" class="nav-link">Home</a></li>
        <li><a  href="#" class="nav-link">Help</a></li>
        <li  class="dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account<span  class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a  href="/users/<%= current_user.id.to_s %>/edit" class="dropdown-item">Settings</a>
             <div class="dropdown-divider"></div>
             <a  class="dropdown-item" rel="nofollow" data-method="delete" href="/logout" >Log Out</a>
          </div>
        </li>
      <% else %>
        <li><a  href="#" class="nav-link">Help</a></li>
      <% end %>
    </ul>
  </div>
</nav>
