<!DOCTYPE html>
<html>
  <head>
    <%= render "static_pages/head"%>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="header-logo">

        </div>
        <ul class="header-list">
          <li></li>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
    <ul class="footer-list">
      <li><%= link_to("Contact", "#")%></li>
    </ul>
    </footer>
  </body>
</html>
